.title{
    font-weight: var(--ultrabold);
    text-transform: uppercase;
}
.title-color{
    color:var(--textHeadingColor);
}
.description-color{
    color:var(--textContentColor);
}

.description{
    font-weight: var(--bold);
    font-size:var(--normal) ;
}
.profile-image{
    max-width: 100%;
    /* chequear valores para forma foto */
    /* margin-top: -10px; */
    /* -webkit-clip-path:polygon(100% 0,100% 94%, 100% 94%,0  100%);
    clip-path: polygon(100% 0,100% 94%, 100% 94%,0  100%); */
    
}
.profile-image img{
    width: 100%;
}
.link{
    text-decoration: none;
}
.profile-information{
    font-size: 5px;
}